<%- include('./partials/head') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">err.message</h4>
             <p style="word-wrap: break-word;"><%= err.stack  %></p>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>