<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
     />
</head>
<body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">NGOs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/camps/new">New NGOs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/new">New User</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/login">User Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/camps/login">NGO Login</a>
                    </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <%- include('./Partials/flash') %>
        <h1 class="display-5 text-center">NGOs INDIA</h1>
        <div class="container p-3 mb-2 bg-body-secondary">
            <p>NGO Resources Centre is online information dissemination and sharing centre for/ about NGOs and
                social activists. NGOs India have been providing the information, resources for NGO Registration,
                available Grants and Funding, Project Proposal preparation process/methods, need and process to
                prepare Annual Reports, Project Implementation Reports, Concept Notes, working process and available
                issues on working is required for NGOs of India and other NGOs at NGOsIndia.com

                Objectives of NGOs India Information Resource Centre

                To promote Information collaborations and Constructive communication between NGOs, to develop
                effective partnership with each other.
                Networking for the access, sharing and dissemination of information collaboration and partnerships
                between the NGOs themselves and with other organisations.
                Networking to strengthen community organisations by boosting knowledge base and ability to share
                information and experiences with strategic allies and other partners in relevant field.
                Capacity building of grassroots level NGOs, social workers through free online resources and
                information on a single platform.
                To serve non-profit organisations, charities, grassroots and community groups, educational and
                research institutions who are practically and transparently working for social welfare without
                profit through information resources.
                Provide information about Funding Support and useful information about how to get funding, where to
                get funding from Government, Funding Agencies, Support Organisation, Corporate Social Responsibility
                Parameters and other useful resources.
                Information support to NGOs in their fund-raising efforts and activities.
                Provide information and resources and guidance to NGOs to run and manage the organisation
                successfully while following social parameters.
                Sharing of ideas among NGOs, change maker catalysts and development agents.
                Avail all kind of information at one place, easy and instant access to that information to NGOs and
                social activits.
                Provide more options before Funding Agencies to select the right choice of NGO to support and work
                with.
                Provide information regarding NGO Registration and NGO Consultancy.
                Provide Volunteers to NGOs and collaborate between NGOs and Volunteers..</p>

        </div>
        <div class="container overflow-hidden text-center ">
            <div class="row gy-5">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="p-3 cardMargin">
                        <div class="card" style="width: 18rem">
                            <img src="https://plus.unsplash.com/premium_photo-1671974490035-0c2e8accf750?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80"
                                class="card-img-top " alt="...">

                            <div class=" card-body">
                                <h5 class="card-title">Helping Hands</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 col-sm-12">
                    <div class="p-3 cardMargin">
                        <div class="card list-inline-item " style="width: 18rem">
                            <img src="https://images.unsplash.com/photo-1549885606-bbc17accf949?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80 class="
                                card-img-top " alt=" ...">

                            <div class="container card-body ">
                                <h5 class="card-title">Asha Foundaton</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="p-3 cardMargin">
                        <div class="card list-inline-item " style="width: 18rem">
                            <img src="https://images.unsplash.com/photo-1615309662570-8c1ca68307d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=424&q=80"
                                class="card-img-top" alt="...">

                            <div class="container card-body ">

                                <h5 class="card-title ">Donation Camp</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="p-3 cardMargin">
                        <div class="card list-inline-item " style="width: 18rem">
                            <img src="https://images.unsplash.com/photo-1599818497948-eea9a2698ddd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                                class="card-img-top" alt="...">

                            <div class="container card-body ">
                                <h5 class="card-title">Organ Donation </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Section  -->
        <section id="services" class="services container">
          <div class="services-header">
            <h1 class="services-header-heading">services</h1>
          </div>
          <div class="services-info">
            <div class="service">
              <div class="service-card">
                <div class="service-front">
                  <img
                    class="images"
                    src="https://images.unsplash.com/photo-1623122617524-18ca7a791c37?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    alt=""
                  />
    
                  <!-- <h1 class="service-front-heading">NGO 1</h1> -->
                </div>
                <div class="service-back">
                  <h1 class="service-back-heading">NGO 1</h1>
                  <p>alsdkfj</p>
                </div>
              </div>
            </div>
            <div class="service">
              <div class="service-card">
                <div class="service-front">
                  <img
                    class="images"
                    src="https://images.unsplash.com/photo-1535090467336-9501f96eef89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
                    alt=""
                  />
                  <!-- <h1 class="service-front-heading">NGO 2</h1>
                  <p>;lkjdaslkfj</p> -->
                </div>
                <div class="service-back">
                  <h1 class="service-back-heading">NGO 2</h1>
                  <p>alkdjalkdflkfj</p>
                </div>
              </div>
            </div>
            <div class="service">
              <div class="service-card">
                <div class="service-front">
                  <img
                    class="images"
                    src="https://images.unsplash.com/photo-1594708767771-a7502209ff51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    alt=""
                  />
    
                  <!-- <h1 class="service-front-heading">NGO 3</h1> -->
                </div>
                <div class="service-back">
                  <h1 class="service-back-heading">NGO 3</h1>
                  <!-- <p>alsdkfja;ldkfja;ldfk</p> -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Footer section  -->
        <footer id="footer" class="footer">
          <div class="footer-contact">
            <h1 class="footer-contact-heading">Contact Me</h1>
            <p class="footer-contact-info">Email: gurusrikanth2003@gmail.com</p>
            <p class="footer-contact-info">Mobile : +91 65465465</p>
          </div>
          <div class="footer-social-follow">
            <h1 class="footer-social-follow-heading">Follow Me</h1>
            <div class="footer-social-icon">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram-square"></i></a>
              <a href="#"><i class="fab fa-behance-square"></i></a>
              <a href="#"><i class="fab fa-dribbble-square"></i></a>
            </div>
          </div>
        </footer>
        <!-- End Footer section  -->




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    </body>
</html>